<script type="text/javascript">
	function addStyle(file){
		$('head').append('<link href=' + file + ' rel="stylesheet" type="text/css">')
	}
	addStyle("css/card.css");

	var t = document.getElementsByClassName('post-title-main');
	if(t.length > 0) {
		t[0].innerText = '';
	}
</script>

<p style="text-align: center; color: red; font-weight: bold; margin-bottom: 30px;"></p>
<p style="text-align: center; font-weight: bold; margin-bottom: 30px;">
	<a style="color: #f8f9fa!important; background-color: #17a2b8!important;" href="memorabilia.html" target="_blank">电脑博物馆于2024年4月19日更新！新增“DOS病毒博物馆”、“《电脑报》1992~2001”等多项内容！</a>
</p>

<div>
	<div class="wrapper">
		<div class="home py-4 py-md-5">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/computer-museum-small.jpg" alt="电脑博物馆">
								<div class="card-body">
									<h2 class="panel-title">电脑博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　电脑博物馆是一个在线交互式的计算机博物馆，在网页中重现电脑发展史。通过 JavaScript 模拟器来体验 1970 年代 —— 1990 年代流行的电脑硬件和软件。时空流转，沧海桑田，物是人非，但那些程序代码依然在跳动着。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/famicn/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/famicn-small.jpg" alt="家用游戏博物馆">
								<div class="card-body">
									<h2 class="panel-title">家用游戏博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　一个在线交互式的电子游戏博物馆，通过 JavaScript 模拟器复活那些历史上由中国大陆及港澳台地区开发的，以家用游戏机和掌上游戏机为平台的电子游戏。用户无需安装通过浏览器即可体验到童年的乐趣。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:89/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/dos-game-museum-small.jpg" alt="DOS游戏博物馆">
								<div class="card-body">
									<h2 class="panel-title">DOS游戏博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　收录了 1898 款 DOS 游戏，这些古老的 DOS 游戏通过 JavaScript 模拟器在网页中重生，焕发了新的生机。用户无需安装即可体验。谨此向那个没有网游、没有手游、性能有限却又最有创造力的游戏黄金时代致敬！</p>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://cpu.retromuseum.org/" target="_blank" class="index-anchor">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/cpu-museum-small.jpg" alt="CPU博物馆">
								<div class="card-body">
									<h2 class="panel-title">CPU博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　一个致力于传承和推广 CPU 文化的在线博物馆，展览了多年来我收集的各种 CPU，从最早的 Intel 4004 到最新的 Intel Core，从 8 位到 64 位，从单核到多核，从英特尔到 AMD，从 x86 到 ARM，从桌面到移动，应有尽有。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/flash-archive/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/flash-archive-small.jpg" alt="Flash档案馆">
								<div class="card-body">
									<h2 class="panel-title">Flash档案馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　Flash 曾经是互联网的一部分，也为互联网带来了繁荣。Flash 的落幕代表着一个时代的结束，它承载着我们许多的回忆。Flash 档案馆目前收录了 8000 多个历史上热门的各类 Falsh 动画，通过 Ruffle 技术进行渲染播放，无需安装插件。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/sb486/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/sb486-small.jpg" alt="电脑学习机">
								<div class="card-body">
									<h2 class="panel-title">电脑学习机</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　电脑学习机是我国计算机发展的一个重要分支，它是在特殊历史背景下的产物，让无数青少年对计算机的知识有了初步的了解。我们用电脑学习机玩游戏、打字、学编程等，留下了一段青春中最美好的记忆。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/malware/malware.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/malware-small.jpg" alt="DOS游戏博物馆">
								<div class="card-body">
									<h2 class="panel-title">DOS游戏博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　收录了1980年代和1990年代在家用计算机上传播的恶意软件程序。一旦他们感染了系统，有时会显示您已被感染的动画或消息。通过使用DosBox仿真模拟器，可让您安全地体验几十年前的病毒感染。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/player.html?machine=tiny8bit" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/tiny8bit-small.jpg" alt="8bit电脑模拟器">
								<div class="card-body">
									<h2 class="panel-title">8bit模拟器专题</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　除了经典的 C64、VIC-20、ZX Spectrum 和各种 CPC 型号外，还有适用于 KC85 和 KC87、LC-80 或 Robotron Z9001 等机器的模拟器。可以从浏览器上享受 CPC 上的 Rick Dangerous、C64 上的 Nebulus、ZX 上的 Rainbow Island 等。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/player.html?machine=oldcomputers" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/oldcomputers-small.jpg" alt="史蒂夫的旧电脑博物馆">
								<div class="card-body">
									<h2 class="panel-title">史蒂夫的旧电脑博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　早期的个人电脑与现在的电脑完全不同——它们很有个性！每种品牌都彼此不同，比以前的产品更令人兴奋，具有新的特性和功能。史蒂夫的旧电脑博物馆收录了 150 台旧电脑，致力于保存和展示这些老式计算机系统。</p>
								</div>
							</div>
						</div>
					</a>
				</div>

				<!--
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/player.html?machine=guigallery" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/guigallery-small.jpg" alt="操作系统界面大全">
								<div class="card-body">
									<h2 class="panel-title">操作系统界面大全</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　操作系统界面大全收集了历史上几乎所有的电脑操作系统界面，以尽可能准确地记录历史，还原其本来面目。作者用详尽的分析为大家讲解其中细节，使您能快速全面的了解它们！感受电脑操作系统的发展变化！</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				-->
			</div>
		</div>
	</div>
</div>