<script type="text/javascript">
	function addStyle(file){
		$('head').append('<link href=' + file + ' rel="stylesheet" type="text/css">')
	}
	addStyle("css/card.css");

	var t = document.getElementsByClassName('post-title-main');
	if(t.length > 0) {
		t[0].innerText = '';
	}
</script>

<p style="text-align: center; font-weight: bold; margin-bottom: 30px;">
	<span style="color: red; background-color: #e2f105!important;">2025年8月1日至7日，复古电脑博物馆部分内容暂时不能访问，给您带来的不便尽请谅解！</span>
</p>
<p style="text-align: center; font-weight: bold; margin-bottom: 30px;">
	<a style="color: #f8f9fa!important; background-color: #17a2b8!important;" href="memorabilia.html" target="_blank">复古电脑博物馆于2024年12月30日更新！近期“操作系统”新增多项内容，“专题展览”新增“Commodore 64 软件专题”、“Amiga 软件专题”等多项内容！</a>
</p>

<div>
	<div class="wrapper">
		<div class="home py-4 py-md-5">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/computer-museum-small.jpg" alt="复古电脑博物馆">
								<div class="card-body">
									<h2 class="panel-title">复古电脑博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　复古电脑博物馆是一个在线交互式的计算机博物馆，在网页中重现电脑发展史。通过 JavaScript 模拟器来体验 1970 年代 —— 1990 年代流行的电脑硬件和软件。时空流转，沧海桑田，物是人非，但那些程序代码依然在跳动着。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/famicn/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/famicn-small.jpg" alt="家用游戏博物馆">
								<div class="card-body">
									<h2 class="panel-title">家用游戏博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　一个在线交互式的电子游戏博物馆，通过 JavaScript 模拟器复活那些历史上由中国大陆及港澳台地区开发的，以家用游戏机和掌上游戏机为平台的电子游戏。用户无需安装通过浏览器即可体验到童年的乐趣。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:89/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/dos-game-museum-small.jpg" alt="DOS游戏博物馆">
								<div class="card-body">
									<h2 class="panel-title">DOS游戏博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　收录了 1898 款 DOS 游戏，这些古老的 DOS 游戏通过 JavaScript 模拟器在网页中重生，焕发了新的生机。用户无需安装即可体验。谨此向那个没有网游、没有手游、性能有限却又最有创造力的游戏黄金时代致敬！</p>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://cpu.retromuseum.org/" target="_blank" class="index-anchor">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/cpu-museum-small.jpg" alt="CPU博物馆">
								<div class="card-body">
									<h2 class="panel-title">CPU博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　一个致力于传承和推广 CPU 文化的在线博物馆，展览了多年来我收集的各种 CPU，从最早的 Intel 4004 到最新的 Intel Core，从 8 位到 64 位，从单核到多核，从英特尔到 AMD，从 x86 到 ARM，从桌面到移动，应有尽有。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/flash-archive/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/flash-archive-small.jpg" alt="Flash档案馆">
								<div class="card-body">
									<h2 class="panel-title">Flash档案馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　Flash 曾经是互联网的一部分，也为互联网带来了繁荣。Flash 的落幕代表着一个时代的结束，它承载着我们许多的回忆。Flash 档案馆目前收录了 8000 多个历史上热门的各类 Falsh 动画，通过 Ruffle 技术进行渲染播放，无需安装插件。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/data/mac.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/mac-demos-small.jpg" alt="Apple Macintosh 软件专题">
								<div class="card-body">
									<h2 class="panel-title">Apple Macintosh 软件专题</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　从1984年到1997年，Apple Macintosh系列电脑，以其优秀的设计、易用的界面、高质的硬件和软件而受到了教育、艺术、设计等领域的青睐。通过本专题展，您将与Macintosh相遇，在浏览器中感受那段缺失的岁月。</p>
								</div>
							</div>
						</div>
					</a>
				</div>				
				
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/data/amiga.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/amigo-small.jpg" alt="Amiga 软件专题">
								<div class="card-body">
									<h2 class="panel-title">Amiga 软件专题</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　Amiga电脑作为1980年代中期最为强大的16位多媒体电脑，在西方电脑爱好者中具有极高的地位。采用摩托罗拉680x0系列处理器，具有高分辨率，快速图形响应，多媒体任务的特点，特别为游戏方面做了专门设计。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/malware/malware.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/malware-small.jpg" alt="DOS病毒博物馆">
								<div class="card-body">
									<h2 class="panel-title">DOS病毒博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　收录了1980年代和1990年代在家用计算机上传播的恶意软件程序。一旦他们感染了系统，有时会显示您已被感染的动画或消息。通过使用DosBox仿真模拟器，可让您安全地体验几十年前的病毒感染。</p>
								</div>
							</div>
						</div>
					</a>
				</div>				
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/data/win31.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/win3x-demos-small.jpg" alt="Windows 3.x 软件专题">
								<div class="card-body">
									<h2 class="panel-title">Windows 3.x 软件专题</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　Windows 3.0/3.1/3.2等都是在建立在DOS上的操作环境，并不是一个真正的操作系统，但就其意义而言却非常重大，因为它们实现了PC机操作的图形化。在此专题中，可通过浏览器再次使用这些Windows 3.x下的经典软件。</p>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/?data=cm/data/dos.json" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/dos-demos-small.jpg" alt="DOS 软件专题">
								<div class="card-body">
									<h2 class="panel-title">DOS 软件专题</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　DOS，全称是Disk Operating System，是现在Windows操作系统的前身。相对于Windows系列，DOS较难学习，不易操作，却有着Windows最为欠缺的自由和开放。此专题可在线使用古老DOS软件，不妨来重温一下过去自由的好时光吧！</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/sb486/" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/sb486-small.jpg" alt="电脑学习机">
								<div class="card-body">
									<h2 class="panel-title">电脑学习机</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　电脑学习机是我国计算机发展的一个重要分支，它是在特殊历史背景下的产物，让无数青少年对计算机的知识有了初步的了解。我们用电脑学习机玩游戏、打字、学编程等，留下了一段青春中最美好的记忆。</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<a href="https://computer.retromuseum.org:86/player.html?machine=oldcomputers" target="_blank" class="index-anchor" onclick="return checkLinks();">
						<div class="card rounded overflow-hidden">
							<div class="image">
								<img src="/images/small/oldcomputers-small.jpg" alt="史蒂夫的旧电脑博物馆">
								<div class="card-body">
									<h2 class="panel-title">史蒂夫的旧电脑博物馆</h2>
									<p class="p-0 my-1 mx-0">
										<span class="post-meta">
											<small></small>
										</span>
									</p>
									<p>　　早期的个人电脑与现在的电脑完全不同——它们很有个性！每种品牌都彼此不同，比以前的产品更令人兴奋，具有新的特性和功能。史蒂夫的旧电脑博物馆收录了 150 台旧电脑，致力于保存和展示这些老式计算机系统。</p>
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>